.mt-15 {
    margin-top: 15px
}

ul {
    list-style-type: none;
    padding: 0;
}

.red {
    background-color: red;
}

.green {
    background-color: rgb(47, 190, 111);
}

.yellow {
    background-color: rgb(233, 204, 42);
}